html {
  background-color: var(--gray-300);
  color: white;
}

.white-space {
  height: 200px;
}

.return-button {
  position: fixed;
  left: 2em;
  top: 2em;
  font-size: 16px;
  font-weight: normal;
}

.cart {
  min-height: 100vh;
  padding: 0 2em;
}

.cart-container {
  width: 100%;
}

.cart__title {
  color: white;
  margin-top: 3em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

.cart__item-card-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.37);
}

.cart__img-container {
  width: 100px;
}

.cart__img {
  height: 94px;
  width: 100%;
  background-color: #282828;
  border-radius: 15px;
  overflow: hidden;
  background-image: url("https://cdn.discordapp.com/attachments/691792050831622174/964349691422711838/chad-montano-eeqbbemH9-c-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cart__item-card-container {
  background-color: #3e3e3e;
  border-radius: 1.5em;
  padding: 20px;
  min-height: 100px;
}

.cart__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 20px;
}

.cart__info-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.cart__info-description {
  font-size: 12px;
  margin-bottom: 10px;
}

.cart__info-bottom {
  display: flex;
  justify-content: space-between;
}

.cart__info-price {
  font-weight: bold;
  display: block;
}

.cart__info-quantity {
  font-weight: bold;
  display: flex;
  background-color: #ff3364;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.cart__request-container {
  background-color: #ff3364;
  width: 100%;
  height: 80px;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  position: fixed;
  bottom: 0px;
}

.cart__request-info {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.cart__request-info-p {
  font-size: 20px;
  font-weight: bold;
}

.cart__request-button {
  background-color: white;
  border-radius: 20px;
  color: #ff3364;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
}

.cart-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.cart-error-container {
  height: 40vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  border-radius: 80px;
  padding: 1em 2em;
  text-align: center;
}

.cart-error-icon {
  font-size: 70px;
  margin-bottom: 20px;
}

.cart-error-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart__delete {
  position: absolute;
  left: 90%;
  top: 5%;
}
.cart__delete button {
  font-size: 1.5rem;
  background-color: transparent;
}
.cart__order_button {
  background-color: #ff3364;
  color: white;
  border-color: transparent;
  width: 100%;
  padding: 0.8em 3em;
  border-radius: 20px 20px 20px 20px;
  font-size: 1.3em;
  font-weight: bold;
}

.cart__order__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
