* {
  padding: 0;
  margin: 0;
}

.white-space {
  height: 80px;
}

.product__alert {
  background-color: rgb(80, 255, 74);
  position: fixed;
  top: 0;
}

.return-button {
  position: fixed;
  left: 2em;
  top: 2em;
  mix-blend-mode: difference;
}

.return-button-icon {
  font-size: 1.3em;
  mix-blend-mode: difference;
}

.section-tittle {
  margin-bottom: 20px;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
}

.product {
  background-color: #282828;
  color: white;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.product__img-container {
  height: 45vh;
  width: 100%;
  background-color: #7c7c7c;
}

.product-img {
  background-image: url("https://cdn.discordapp.com/attachments/691792050831622174/964349691422711838/chad-montano-eeqbbemH9-c-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.product__content-section {
  border-radius: 50px 50px 0px 0px;
  display: block;
}

.product__content-container {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
}

.product__content-header {
  padding: 0 2em;
}

.product__title {
  margin-bottom: 5px;
  font-size: 1.5em;
}

.product__serve {
  color: #cacaca;
  margin-bottom: 40px;
}

.product__price-quantity-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product__price {
  font-size: 1.3em;
  font-weight: 500;
  display: inline-block;
}

.product__quantity {
  display: inline-block;
  font-size: 1.3em;
}

.product__quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__quantity-number {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.product__quantity-plus {
  padding: 0.4em 0.7em;
  border-radius: 10px;
  border-color: transparent;
  background-color: #ff3364;
  color: white;
}

.product__description-container {
  padding: 30px 2em;
  background-color: #3e3e3e;
  border-radius: 0px 50px 50px 0px / 0px 50px 50px 1px;
  margin-bottom: 20px;
}

.product__description {
  word-wrap: break-word;
}

.product__additional-container {
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product__additional-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #3e3e3e;
  margin-bottom: 20px;
  padding-bottom: 1em;
}

.product__additional-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.product__additional-name {
  display: inline-block;
}

.product__additional-price {
  display: inline-block;
}

.product__additional-checkbox-container {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.product__additional-checkbox {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  display: block;
  border-radius: 50% !important;
}

.product__observation {
  padding: 0 2em;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.product__text-area {
  width: 100%;
  background-color: #3e3e3e !important;
  border-radius: 10px;
  padding: 1em;
}

.product__final-section {
  padding: 0 0 0 2em;
  display: flex;
  justify-content: space-between;
  margin-right: 0;
}

.product__final-price {
  background-color: #ff6187;
  display: inline-block;
  border-radius: 20px;
  padding: 1.3em;
}

.product__add {
  background-color: #ff3364;
  color: white;
  border-color: transparent;
  padding: 0.8em 3em;
  border-radius: 20px 0px 0px 20px;
  font-size: 1.3em;
  font-weight: bold;
}

.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: #ff3364;
}

.ant-checkbox-inner {
  border-color: #ff3364;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #ff3364;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ff3364;
  border-color: #ff3364;
}
.ant-checkbox-checked::after {
  border-color: #ff3364;
}

.padding {
  padding: 0 2em;
}

.product-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.product-error-container {
  height: 40vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ff3364;
  border-radius: 80px;
  padding: 1em 2em;
  text-align: center;
}

.product-error-icon {
  font-size: 70px;
  margin-bottom: 20px;
}

.product-error-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}
