#main {
  background-color: var(--gray-300);
  padding-bottom: 1rem;
}
#header {
  background-color: var(--red-100);
  border-radius: 0px 0px 20px 20px;
  padding: 1.5rem;
}

#header .title {
  justify-content: space-between;
  margin-bottom: 1rem;
}
#header h3 {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}
#header p {
  font-size: 0.8rem;
}

input {
  color: var(--gray-300);
  height: 2rem;

  width: 100%;
  border-radius: 7px;
}

a {
  text-decoration: none;
}

.white-space {
  height: 70px;
}

/* Categoria */

.horizontal-scroll {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.categoria-container {
  text-align: center;
  margin: 20px 0.5rem 0.5rem 0.5rem;
  background-color: transparent;
}
.categoria-container .icon {
  height: 4rem;
  width: 4rem;
  border-radius: 10px;
  background-color: var(--gray-200);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.294);
}
.categoria-container .nome {
  font-size: 0.8rem;

  white-space: normal;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}

/* Produto */

.container-produto {
  background-color: var(--gray-200);
}

.produtos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-produto {
  border-radius: 30px;
  display: flex;
  margin: 0.5rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.294);
}

.produtos img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  max-height: max(10rem, 30vh);
  aspect-ratio: 4/3;
  overflow-y: hidden;
  border-radius: 30px 30px 0 0;
}

.produtos .legenda {
  /* padding: 0.5rem; */
  margin: 0.5rem 1rem;
}
.produtos .legenda h4 {
  font-size: 0.8rem;
}

.produtos .legenda p {
  font-size: 0.7rem;
}

/* Error  */

.produtos-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.produtos-error-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  flex-direction: column;
  background-color: var(--red-100);
  margin-top: 70px;
  text-align: center;

  padding: 1rem ;
}

.produtos-error-icon {
  font-size: 80px;
  margin-bottom: 20px;
}

.produtos-error-title {
  font-size: 1.2em;
}

.inputSearchContainer input {
  border-radius: 30px;
  height: 2rem;
  color: var(--gray-200);
  width: 100%;
  padding-left: 1rem !important;
  transition: 0.05s;
  padding: .5em;
}

.inputSearchContainer input:focus {
  outline: none !important;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 5%));
}
.inputSearchContainer input:focus ~ .submit-lente {
  opacity: 1;
}

.inputSearchContainer {
  position: relative;
  width: 95%;
}

.submit-lente {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: gray;
  background-color: transparent;
}

.search-icon {
  color: grey;
  font-size: 25px;
}

.search-icon svg {
  color: gray;
}

.search-icon path {
  color: gray;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-icon svg{
  color: #FF3364 !important;
  font-size: 100px;
}

.cart-lenght {
  background-color: white;
  color: #FF3364;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding-top: 1px;
  transform: translateX(18px) translateY(-23px);
}